<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title></title>
</head>
<body>
<div class="container">
<header>
        <div class="logo"><img src="../../../static/img/kane_logotip.png" alt=""></div>
        <ul class="menu">
            <li><a href="../index.html">Главная</a></li>
            <li><a href="../catalog.html">Каталог</a></li>
            <li><a href="../contacts.html">Контакты</a></li>
        </ul>
</header>
    <h1>Мэтт Вайсфельд. Объектно-ориентированное мышление</h1>
    <div class="card">
        <div class="card-info">
            <div class="card-img">
                <a href="../../../static/img/book1.jpg" target="_blank">
                    <img alt="Фотография книги" src="../../../static/img/book1.jpg" width="200"></a>
            </div>
            <div class="card-button">
                <input type="submit" value="Купить">
            </div>
        </div>
        <div class="card-info">
            <div class="item-info">
                <h3>Краткое описание</h3>
                <p class="card-info-small">Если вы освоили структурное программирование и только начинаете
                    интересоваться
                    объектами — то книга,
                    безусловно,
                    полезна. Стоит отметить, что сам автор позиционирует эту книгу, как отправную точку для изучения
                    ООП.</p>
            </div>
            <div class="item-info">
                <h3>Подробное описание:</h3>
                <p class="card-info-full">Объектно-ориентированное программирование - это фундамент современных языков
                    программирования, включая C++,
                    Java,
                    C#,
                    Visual Basic, .NET, Ruby и Objective-C. Кроме того, объекты лежат в основе многих веб-технологий,
                    например
                    JavaScript, Python и PHP.
                    Объектно-ориентированное программирование обеспечивает правильные методики проектирования,
                    переносимость
                    кода и
                    его
                    повторное использование, однако для того, чтобы все это полностью понять, необходимо изменить свое
                    мышление.
                    Разработчики, являющиеся новичками в сфере объектно-ориентированного программирования, не должны
                    поддаваться
                    искушению перейти непосредственно к конкретному языку программирования (например, Objective-C, VB
                    .NET,
                    C++,
                    C#,
                    .NET или Java) или моделирования (например, UML), а вместо этого сначала уделить время освоению
                    того,
                    что
                    автор
                    книги Мэтт Вайсфельд называет объектно-ориентированным мышлением.
                    Несмотря на то, что технологии программирования изменяются и эволюционируют с годами,
                    объектно-ориентированные
                    концепции остаются прежними - при этом неважно, какой именно является платформа.</p></div>
            <div class="item-info">
                <table class="card-info-stats">
                    <th><h3>Характеристики книги</h3></th>
                    <tr>
                        <td><b>Название:</b></td>
                        <td>Объектно-ориентированное мышление</td>
                    </tr>
                    <tr>
                        <td><b>Серия:</b></td>
                        <td>Библиотека программиста</td>
                    </tr>
                    <tr>
                        <td><b>Тип:</b></td>
                        <td>Печатная книга</td>
                    </tr>
                    <tr>
                        <td><b>Издательство:</b></td>
                        <td>Питер</td>
                    </tr>
                    <tr>
                        <td><b>Язык издания:</b></td>
                        <td>Русский</td>
                    </tr>
                    <tr>
                        <td><b>Год выпуска:</b></td>
                        <td>2014</td>
                    </tr>
                    <tr>
                        <td><b>Тип обложки:</b></td>
                        <td>Мягкая обложка</td>
                    </tr>
                    <tr>
                        <td><b>Вес в упаковке:</b></td>
                        <td>375г</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer><div class="copyright"><p>Все права защищены &copy; <a href="https://github.com/kane52rus/Geek/tree/html/HTML">Andrey
            Tabunkin</a></p></div></footer>
</div>
</body>
</html>