{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}

    {% include 'adminapp/includes/inc_menu.html' %}
    {% for object in objects %}
        <div class="row d-flex align-items-center {% if not object.is_active %}
            disabled
        {% endif %}">
            <div class="col-md-3 text-center">
                {{ object.name|title }}
            </div>
            <div class="col-md-9">
                <div class="row d-flex flex-row-reverse">
                    <div class="col-md-3">
                        <a class="btn btn-sm btn-block btn-danger" href={% url 'myadmin:category_delete' object.pk %}>
                            удалить
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-sm btn-block btn-primary" href={% url 'myadmin:category_update' object.pk %}>
                            редактировать
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-sm btn-block btn-info" href={% url 'myadmin:products' object.pk %}>
                            товары категории
                        </a>
                    </div>
                </div>
            </div>
            <div class="category_desc">
                {{ object.description|title }}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}