{% extends 'mainapp/base.html' %}
{% load static %}


{% block nav %}
    {% include 'mainapp/includes/inc_main_menu.html' %}
{% endblock %}
{% block content %}
    <h3>{{ product.author_name.author_name }}. {{ product.product_name }}</h3>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card-img">
                <a href="/media/{{ product.product_image }}" target="_blank">
                    <img src="/media/{{ product.product_image }}" class="card-img-top card-img" alt="..."></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-button">
                <p>{{ product.price }} руб</p>
                {% if product.balance > 0 and product.balance < 5 %}
                <p>В наличии: мало</p>
                {% elif product.balance > 4 %}
                <p>В наличии: много</p>
                {% else %}
                <p>В наличии: отсутствует</p>
                {% endif %}
                <a href="{% url 'basket:add' product.pk %}" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
        <div class="card-info">
            <div class="item-info">
                <h3>Краткое описание</h3>
                <p class="card-info-small">{{ product.short_description }}</p>
            </div>
            <div class="item-info">
                <h3>Подробное описание:</h3>
                <p class="card-info-full">{{ product.description }}</p></div>
            <div class="item-info">
                <table class="card-info-stats">
                    <th><h3>Характеристики книги</h3></th>
                    <tr>
                        <td><b>Название:</b></td>
                        <td>{{ product.product_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Автор:</b></td>
                        <td>{{ product.author_name.author_name }}</td>
                    </tr>
                    <tr>
                        <td><b>Серия:</b></td>
                        <td>{{ product.serial }}</td>
                    </tr>
                    <tr>
                        <td><b>Тип:</b></td>
                        <td>{{ product.type }}</td>
                    </tr>
                    <tr>
                        <td><b>Язык издания:</b></td>
                        <td>{{ product.language }}</td>
                    </tr>
                    <tr>
                        <td><b>Год выпуска:</b></td>
                        <td>{{ product.issue_year }}</td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</div>
</body>
</html>