{% extends 'mainapp/base.html' %}
{% load static %}


{% block nav %}
    {% include 'mainapp/includes/inc_main_menu.html' %}
{% endblock %}
{% block header %}

{% endblock %}
{% block content %}

    <h1>Каталог</h1>
    <div class="catalog">
        {% if catalog %}
            {% for item in catalog %}
                <div class="item">
                    <a href="{{ item.item_link }}"><img src="{% static '' %}{{ item.item_img_link }}" alt=""><br>
                        {{ item.item_name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <h3>Произошка ошибка загрузки данных. Перезагрузите страницу</h3>
        {% endif %}
    </div>
{% endblock %}
