<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <link rel="stylesheet" href="../../../../static/css/style.css">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title></title>
</head>
<body>
<div class="container">
    <header>
            <div class="logo"><img src="../../../../static/img/kane_logotip.png" alt=""></div>
            <ul class="menu">
                <li><a href="../index.html">Главная</a></li>
                <li><a href="../catalog.html">Каталог</a></li>
                <li><a href="../contacts.html">Контакты</a></li>
            </ul>
    </header>
    <h1>Бертран Мейер. Почувствуй класс</h1>
    <div class="card">
            <div class="card-info">
                <div class="card-img">
                    <a href="../../../../static/img/book2.jpg" target="_blank">
                        <img alt="Фотография книги" src="../../../../static/img/book2.jpg" width="200"></a>
                </div>
                <div class="card-button">
                    <input type="submit" value="Купить">
                </div>
            </div>
        <div class="card-info">
            <div class="item-info">
                <h3>Краткое описание</h3>
                <p class="card-info-small">Эту книгу определённо стоит прочесть каждому программисту. Но в качестве основного
                    языка программирования для примеров был взят Эйфель, что может вызывать некоторые затруднения. </p>
            </div>
            <div class="item-info">
                <h3>Подробное описание:</h3>
                <p class="card-info-full">В книге обобщен многолетний опыт обучения программированию в ЕТН, Цюрих. В ней
                    удачно
                    сочетаются три грани, характерные для профессионального программирования, - наука, искусство и
                    инженерия.
                    Она в первую очередь ориентирована на студентов, обучающихся в области информационных технологий, и
                    их
                    преподавателей, но представляет несомненный интерес для всех программистов, создающих программный
                    продукт
                    высокого качества.
                    В книге излагаются основы объектно-ориентированного программирования (ООП). Особое внимание
                    уделяется
                    корректности программ за счет введения контрактов - предусловий, постусловий методов класса,
                    инвариантов
                    классов. Глубоко и подробно рассматриваются такие механизмы ООП, как наследование и универсальность.
                    Изучаются алгоритмы и структуры данных - массивы, кортежи, списки, хэш-таблицы, различные виды
                    распределителей, деревья. Подробно рассматриваются рекурсивные алгоритмы и рекурсивные структуры
                    данных.
                    Даются основы лямбда-исчисления и вводятся агенты, поддерживающие функциональный тип данных.
                    Язык Eiffel используется как рабочий язык программирования. </p>
            </div>
            <div class="item-info">
                <table class="card-info-stats">
                    <th><h3>Характеристики книги</h3></th>
                    <tr>
                        <td><b>Название:</b></td>
                        <td>Почувствуй класс</td>
                    </tr>
                    <tr>
                        <td><b>Серия:</b></td>
                        <td>Отдельное издание</td>
                    </tr>
                    <tr>
                        <td><b>Тип:</b></td>
                        <td>Печатная книга</td>
                    </tr>
                    <tr>
                        <td><b>Издательство:</b></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td><b>Язык издания:</b></td>
                        <td>Русский</td>
                    </tr>
                    <tr>
                        <td><b>Год выпуска:</b></td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td><b>Тип обложки:</b></td>
                        <td>Твердый переплет</td>
                    </tr>
                    <tr>
                        <td><b>Вес в упаковке:</b></td>
                        <td>1116г</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer><div class="copyright"><p>Все права защищены &copy; <a href="https://github.com/kane52rus/Geek/tree/html/HTML">Andrey
            Tabunkin</a></p></div></footer></div>
</body>
</html>